# Port that the server will listen on
export PORT=10179

# Persona Audience
export AUDIENCE='http://localhost:8000'

# Service URLS
export DATABASE='sqlite://localhost/profile'
export MAKEAPI='https://makeapi.webmaker.org'

# Webmaker Login Server URL with auth
export LOGINAPI='username:password@http://localhost:3000'

# AWS-S3 information
export S3_BUCKET='yourbucket'
export S3_KEY='yourkey'
export S3_SECRET='yoursecret'
