# Port that the server will listen on
export PORT=10179

# Persona Audience
export AUDIENCE='http://localhost:10179'

# Service URLS
export DATABASE='sqlite://localhost/profile'
export MAKEAPI='https://makeapi.webmaker.org'

# Login URL
# Make sure you add the audience of this app to login's .env too!!!
export LOGINAPI='http://localhost:3000'
export FORCE_SSL=false

# Cookie secret key.
# Make sure this is the same as all the other apps using SSO
export SESSION_SECRET='dummy secret value'

# Configure supercookies - don't use this on localhost
# export COOKIE_DOMAIN=webmaker.org

# AWS-S3 information
export S3_BUCKET='yourbucket'
export S3_KEY='yourkey'
export S3_SECRET='yoursecret'

# Toggle on for GELF formatted logging
export ENABLE_GELF_LOGS=false

# Host to send CSP violation reports to
CSP_LOGGER=
