# Port that the server will listen on
export PORT=10179

# Persona Audience
export AUDIENCE='http://localhost:10179'

# Session details
export SESSION_SECRET='asdf'
export FORCE_SSL=false

# Service URLS
export DATABASE='sqlite://localhost/profile'
export MAKEAPI='https://makeapi.webmaker.org'

# Webmaker Login Server URL with auth
export LOGINAPI='http://testuser:password@localhost:3000'

# AWS-S3 information
export S3_BUCKET='yourbucket'
export S3_KEY='yourkey'
export S3_SECRET='yoursecret'

# Toggle on for GELF formatted logging
export ENABLE_GELF_LOGS=false

# Host to send CSP violation reports to
CSP_LOGGER=
